# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio cache/options
.vs/
*.user
*.suo

# Build / tool logs
*.tlog
*.log
*.binlog

# Publish output & release artifacts
[Pp]ublish/
publish-fd/
publish-sc/
Polaris-*.zip

# Misc
*.swp
*.tmp
*.bak
Thumbs.db
desktop.ini
